<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>500</title>

    <object th:include="fragments/fragment :: css-dev" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js-dev" th:remove="tag"></object>

    <!-- Khusus untuk Table -->
    <link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}">

    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <!-- <script th:src="@{/js/demo/datatables-demo.js}"></script> -->
    <!-- Khusus untuk Table -->
</head>

<body id="page-top">
    <!-- Page Wrapper -->

    <div id="wrapper">
        <ul th:replace="fragments/fragment :: sidebar"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <nav th:replace="fragments/fragment :: navbar"></nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- 500 Error Text -->
                    <div class="text-center">
                        <div class="error mx-auto" data-text="500">500</div>
                        <p class="lead text-gray-800 mb-5">Internal Server Error</p>
                        <p class="text-gray-500 mb-0">Terjadi Kesalahan dalam Server</p>
                        <a th:href="@{'/'}">&larr; Back to Home</a>
                    </div>

                </div>
                <!-- /.container-fluid -->
                <!-- /.container-fluid -->

                <!-- Begin Page Content -->
                <div class="container-fluid">



                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="fragments/fragment :: footer-dev-1"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a th:replace="fragments/fragment :: scroll-to-top"></a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>


</body>

</html>