body
{
    text-align:center;
    width:100%;
    margin:0 auto;
    padding:0px;
    font-family:helvetica;
}
#wrapper
{
    text-align:center;
    margin:0 auto;
    padding:0px;
    width:995px;
}
#mytable
{
    text-align:center;
}
#mytable th
{
    color:white;
    font-size:18px;
    cursor:pointer;
}
#mytable td
{
    color:white;
    font-size:17px;
    border:1px solid;
}