<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fail Add Subsribe Date</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">

    <object th:include="fragments/fragment :: css-dev" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js-dev" th:remove="tag"></object>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

    <!-- Khusus untuk Table -->
    <link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}">

    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <!-- <script th:src="@{/js/demo/datatables-demo.js}"></script> -->
    <!-- Khusus untuk Table -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <ul th:replace="fragments/fragment :: sidebar"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/fragment :: navbar"></nav>
                <!-- End of Topbar -->

                <div class="container-fluid">
                    <div class="card shadow mb-4 text-center">
                        <div class="card-header py-3">
                            <h3 class="m-0 font-weight-bold">Gagal !</h3>
                        </div>
                        <br>
                        <div class="card-body">
                            <p th:text="'Delivery Order dengan nomor ' + ${deliveryOrder.nomorDeliveryOrder} + ' bukan bundling'"></p>
                            
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <a th:href="@{/delivery-order/detail/} + ${deliveryOrder.nomorDeliveryOrder}" class="btn btn-info btn-block">Lihat Detail</a>
                    <a th:href="@{/delivery-order/}" class="btn btn-warning btn-block">Kembali</a>
                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="fragments/fragment :: footer-dev-1"></footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <a th:replace="fragments/fragment :: scroll-to-top"></a>

    <div th:replace="fragments/fragment :: logout-modal"></div>

    <!-- Bootstrap core JavaScript-->
    <link th:href="@{/vendor/jquery/jquery.min.js}">
    <link th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}">
    <link th:href="@{/vendor/jquery-easing/jquery.easing.min.js}">
    <link th:href="@{/js/sb-admin-2.min.js}">
</body>
</html>