<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">

    <object th:include="fragments/fragment :: css-dev" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js-dev" th:remove="tag"></object>

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Khusus untuk Table -->
    <link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}">

    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <!-- <script th:src="@{/js/demo/datatables-demo.js}"></script> -->
    <!-- Khusus untuk Table -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"  rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let listTrainer = /*[[${listTrainer}]]*/ 'TestTrainer';
        let listJumlahTraining = /*[[${listJumlahTraining}]]*/ 'TestJumlahTraining';
        /*]]>*/
    </script>
    <script th:inline="javascript" src="/js/trainer-pie-chart.js"></script>
    <script th:inline="javascript">
        window.onload = function () {
            $("#pieChartTrainer").CanvasJSChart(trainer);
        }
    </script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#datatable').DataTable({
                "scrollX": true
            });
        } );
    </script>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <ul th:replace="fragments/fragment :: sidebar"></ul>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <nav th:replace="fragments/fragment :: navbar"></nav>
            <!-- End of Topbar -->
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Dashboard</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <a th:href="@{/dashboard/customer-feedback}">Dashboard Customer Feedback</a>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-plus fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Dashboard</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <a th:href="@{/dashboard/training}">Dashboard Training</a>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-plus fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Dashboard</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <a th:href="@{/dashboard/trainer}">Dashboard Trainer</a>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-plus fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.container-fluid -->
            <div class="container-fluid">
                <div id="pieChartTrainer" style="height: 370px; width: 100%;"></div>
                <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
                <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
                <br>
                <br>
                <h3>List Training yang telah Selesai</h3>
                <br>
                <form class="form-group">
                    <table id="datatable" class="table table-hover" style="width:100%;">
                        <thead>
                        <tr>
                            <th>NO</th>
                            <th>Nama Trainer</th>
                            <th>Outlet</th>
                            <th>Tanggal Training</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="training, iterationStatus : *{listAllTrainingSelesai}">
                            <th scope="row" th:text="${iterationStatus.count}"></th>
                            <td th:text="${training.trainer.nama}"></td>
                            <td th:text="${training.outlet.namaOutlet}"></td>
                            <td th:text="${training.tanggalTraining.toString().substring(0, 10)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="fragments/fragment :: footer-dev-1"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<a th:replace="fragments/fragment :: scroll-to-top"></a>

<div th:replace="fragments/fragment :: logout-modal"></div>

<!-- Bootstrap core JavaScript-->
<link th:href="@{/vendor/jquery/jquery.min.js}">
<link th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}">
<link th:href="@{/vendor/jquery-easing/jquery.easing.min.js}">
<link th:href="@{/js/sb-admin-2.min.js}">
</body>

</html>