<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Detail Outlet</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" th:href="@{/vendor/fontawesome-free/css/all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">

    <object th:include="fragments/fragment :: css-dev" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js-dev" th:remove="tag"></object>

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Khusus untuk Table -->
    <link rel="stylesheet" th:href="@{/vendor/datatables/dataTables.bootstrap4.min.css}">

    <script th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
    <!-- <script th:src="@{/js/demo/datatables-demo.js}"></script> -->
    <!-- Khusus untuk Table -->

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <ul th:replace="fragments/fragment :: sidebar"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav th:replace="fragments/fragment :: navbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h3 class="m-0 font-weight-bold">Detail dari Outlet</h3>
                        </div>
                        <div class="card-body">
                            <p th:text="'Nama Outlet : ' + ${outlet.namaOutlet}"></p>
                            <p th:text="'Email Outlet : ' + ${outlet.namaOutlet}"></p>
                            <p th:text="'No. Telepon Outlet : ' + ${outlet.noTelpOutlet}"></p>
                            <p th:text="'Alamat Outlet : ' + ${outlet.alamatOutlet}"></p>
                            <p th:text="'Jenis Outlet : ' + ${outlet.jenisOutlet.namaJenisOutlet}"></p>
                            <div th:if="${outlet.aktif == false}">
                                <p th:text="'Status Aktif : Tidak Aktif'"></p>
                            </div>
                            <div th:if="${outlet.aktif == true}">
                                <p th:text="'Status Aktif : Aktif'"></p>
                            </div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Nomor DO</th>
                                        <th scope="col">Nomor Invoice</th>
                                        <th scope="col">Tanggal Dibuat</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody th:each="deliveryOrder, iterationStatus : ${listDeliveryOrder}">
                                    <tr>
                                        <th scope="row" th:text="${iterationStatus.count}"></th>
                                        <td th:text="${deliveryOrder.nomorDeliveryOrder}"></td>
                                        <td th:text="${deliveryOrder.nomorInvoice}"></td>
                                        <td th:text="${deliveryOrder.tanggalCreate}"></td>
                                        <td>
                                            <form
                                                th:action="@{/delivery-order/detail/} + ${deliveryOrder.nomorDeliveryOrder}"
                                                th:method="GET">
                                                <button class="btn btn-info text-white"
                                                    value="submit">detail</button>
                                            </form>
                                        </td>
                                        <br>
                                    </tr>
                                </tbody>   
                            </table>
                            <div class="row" dir="rtl">
                                <a th:href="@{/outlet/update/} + ${outlet.idOutlet}">
                                <button class="btn btn-warning text-white">update</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
        </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer th:replace="fragments/fragment :: footer-dev-1"></footer>
    <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <a th:replace="fragments/fragment :: scroll-to-top"></a>
    <div th:replace="fragments/fragment :: logout-modal"></div>
    <!-- Bootstrap core JavaScript-->
    <link th:href="@{/vendor/jquery/jquery.min.js}">
    <link th:href="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}">
    <link th:href="@{/vendor/jquery-easing/jquery.easing.min.js}">
    <link th:href="@{/js/sb-admin-2.min.js}">
</body>

</html>