<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Feedback</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1 class="display-3">Terima Kasih</h1>
        <p class="lead">Terima Kasih telah mengisi kuesioner feedback.</p>
        <hr>
        <p class="lead">
            <a class="btn btn-primary btn-sm" th:href="@{customer-feedback/(idTraining=${customerFeedback.training.idTraining})}" role="button">Kirim Feedback Lain</a>
        </p>
    </div>

</body>
</html>