<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Item</title>
</head>
<body>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col"></th>
        <th scope="col">ID</th>
        <th scope="col">Kategori</th>
        <th scope="col">Merek</th>
        <th scope="col">Nomor PO</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item, iterationStatus : *{listItem}">
        <th scope="row" th:text="${iterationStatus.count}"></th>
        <td th:text="${item.idItem}"></td>
        <td th:text="${item.kategoriItem.namaKategoriItem}"></td>
        <td th:text="${item.merekItem.namaMerekItem}"></td>
        <td th:text="${item.purchaseOrder.nomorPurchaseOrder}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>