<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View All Item</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"  rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"/>
<!--    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>-->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready( function () {
            $('#datatable').dataTable();
        } );
    </script>
<!--    <script type="text/javascript" src="/js/sort.js"></script>-->
<!--    <link href="/css/sort.css"  rel="stylesheet" type="text/css"/>-->
</head>
<body>
<div class="container">
    <form class="form-group">
        <br>
        <h2 style="text-align: center">Tabel Item</h2>
        <br>
        <table id="datatable" class="table table-hover" style="width:100%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kategori</th>
                    <th>Merek</th>
                    <th>Nomor PO</th>
                </tr>
            </thead>
            <tbody>
        <!--    <tr th:each="item, iterationStatus : *{listItem}">-->
        <!--        <th scope="row" th:text="${iterationStatus.count}"></th>-->
        <!--        <td th:text="${item.idItem}"></td>-->
        <!--        <td th:text="${item.kategoriItem.namaKategoriItem}"></td>-->
        <!--        <td th:text="${item.merekItem.namaMerekItem}"></td>-->
        <!--        <td th:text="${item.purchaseOrder.nomorPurchaseOrder}"></td>-->
        <!--    </tr>-->
            <tr>
                <td>1</td>
                <td>dolor.</td>
                <td>eget,</td>
                <td>19243</td>
            </tr>
            <tr>
                <td>2</td>
                <td>suscipit,</td>
                <td>dui</td>
                <td>88674</td>
            </tr>
            <tr>
                <td>3</td>
                <td>at</td>
                <td>Phasellus</td>
                <td>38326</td>
            </tr>
            <tr>
                <td>4</td>
                <td>eget</td>
                <td>Sed</td>
                <td>87507</td>
            </tr>
            <tr>
                <td>5</td>
                <td>suscipit</td>
                <td>sociosqu</td>
                <td>36470</td>
            </tr>
            <tr>
                <td>6</td>
                <td>pede.</td>
                <td>Aliquam</td>
                <td>86753</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Phasellus</td>
                <td>libero.</td>
                <td>42849</td>
            </tr>
            <tr>
                <td>8</td>
                <td>fringilla</td>
                <td>eget</td>
                <td>36626</td>
            </tr>
            <tr>
                <td>9</td>
                <td>nunc</td>
                <td>elit</td>
                <td>88965</td>
            </tr>
            <tr>
                <td>10</td>
                <td>nunc.</td>
                <td>iaculis</td>
                <td>00158</td>
            </tr>
            <tr>
                <td>11</td>
                <td>cursus.</td>
                <td>eget</td>
                <td>16147</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Cras</td>
                <td>eu</td>
                <td>62931</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Ut</td>
                <td>tincidunt</td>
                <td>68002</td>
            </tr>
            <tr>
                <td>14</td>
                <td>eleifend.</td>
                <td>nibh</td>
                <td>48516</td>
            </tr>
            <tr>
                <td>15</td>
                <td>tempus,</td>
                <td>Integer</td>
                <td>23409</td>
            </tr>
            <tr>
                <td>16</td>
                <td>eget</td>
                <td>id</td>
                <td>58440</td>
            </tr>
            <tr>
                <td>17</td>
                <td>ante.</td>
                <td>orci.</td>
                <td>42749</td>
            </tr>
            <tr>
                <td>18</td>
                <td>ullamcorper</td>
                <td>luctus.</td>
                <td>78855</td>
            </tr>
            <tr>
                <td>19</td>
                <td>montes,</td>
                <td>vitae,</td>
                <td>63203</td>
            </tr>
            <tr>
                <td>20</td>
                <td>at</td>
                <td>at</td>
                <td>95760</td>
            </tr>
            <tr>
                <td>21</td>
                <td>sed,</td>
                <td>lobortis</td>
                <td>94082</td>
            </tr>
            <tr>
                <td>22</td>
                <td>amet,</td>
                <td>Cum</td>
                <td>71359</td>
            </tr>
            <tr>
                <td>23</td>
                <td>vitae</td>
                <td>nec</td>
                <td>63550</td>
            </tr>
            <tr>
                <td>24</td>
                <td>vel</td>
                <td>dui,</td>
                <td>53267</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Suspendisse</td>
                <td>rhoncus.</td>
                <td>41069</td>
            </tr>
            <tr>
                <td>26</td>
                <td>in,</td>
                <td>torquent</td>
                <td>79278</td>
            </tr>
            <tr>
                <td>27</td>
                <td>nonummy.</td>
                <td>justo</td>
                <td>16238</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Donec</td>
                <td>id</td>
                <td>18650</td>
            </tr>
            <tr>
                <td>29</td>
                <td>orci</td>
                <td>dolor,</td>
                <td>99498</td>
            </tr>
            <tr>
                <td>30</td>
                <td>eleifend</td>
                <td>lacus</td>
                <td>45309</td>
            </tr>
            <tr>
                <td>31</td>
                <td>penatibus</td>
                <td>ut,</td>
                <td>83951</td>
            </tr>
            <tr>
                <td>32</td>
                <td>ligula.</td>
                <td>velit</td>
                <td>72717</td>
            </tr>
            <tr>
                <td>33</td>
                <td>tempor</td>
                <td>pede,</td>
                <td>05647</td>
            </tr>
            <tr>
                <td>34</td>
                <td>enim.</td>
                <td>sem</td>
                <td>41949</td>
            </tr>
            <tr>
                <td>35</td>
                <td>sapien,</td>
                <td>ac</td>
                <td>90103</td>
            </tr>
            <tr>
                <td>36</td>
                <td>consequat</td>
                <td>sit</td>
                <td>41209</td>
            </tr>
            <tr>
                <td>37</td>
                <td>egestas.</td>
                <td>porttitor</td>
                <td>19059</td>
            </tr>
            <tr>
                <td>38</td>
                <td>Donec</td>
                <td>lobortis</td>
                <td>30871</td>
            </tr>
            <tr>
                <td>39</td>
                <td>mollis.</td>
                <td>Quisque</td>
                <td>74637</td>
            </tr>
            <tr>
                <td>40</td>
                <td>Nunc</td>
                <td>arcu.</td>
                <td>83504</td>
            </tr>
            <tr>
                <td>41</td>
                <td>Suspendisse</td>
                <td>dignissim</td>
                <td>96942</td>
            </tr>
            <tr>
                <td>42</td>
                <td>lectus,</td>
                <td>semper</td>
                <td>94716</td>
            </tr>
            <tr>
                <td>43</td>
                <td>orci</td>
                <td>tincidunt.</td>
                <td>74390</td>
            </tr>
            <tr>
                <td>44</td>
                <td>aliquet</td>
                <td>dignissim</td>
                <td>80870</td>
            </tr>
            <tr>
                <td>45</td>
                <td>dui,</td>
                <td>vitae</td>
                <td>13505</td>
            </tr>
            <tr>
                <td>46</td>
                <td>sit</td>
                <td>sem</td>
                <td>45278</td>
            </tr>
            <tr>
                <td>47</td>
                <td>malesuada</td>
                <td>luctus</td>
                <td>16183</td>
            </tr>
            <tr>
                <td>48</td>
                <td>Nullam</td>
                <td>adipiscing</td>
                <td>59440</td>
            </tr>
            <tr>
                <td>49</td>
                <td>non</td>
                <td>ipsum</td>
                <td>57891</td>
            </tr>
            <tr>
                <td>50</td>
                <td>Donec</td>
                <td>Proin</td>
                <td>79548</td>
            </tr>
            <tr>
                <td>51</td>
                <td>amet</td>
                <td>lectus.</td>
                <td>44970</td>
            </tr>
            <tr>
                <td>52</td>
                <td>Nulla</td>
                <td>erat</td>
                <td>83281</td>
            </tr>
            <tr>
                <td>53</td>
                <td>mauris,</td>
                <td>pretium</td>
                <td>16194</td>
            </tr>
            <tr>
                <td>54</td>
                <td>dui,</td>
                <td>Mauris</td>
                <td>71910</td>
            </tr>
            <tr>
                <td>55</td>
                <td>dis</td>
                <td>dis</td>
                <td>99194</td>
            </tr>
            <tr>
                <td>56</td>
                <td>Proin</td>
                <td>ridiculus</td>
                <td>12495</td>
            </tr>
            <tr>
                <td>57</td>
                <td>augue,</td>
                <td>neque.</td>
                <td>37318</td>
            </tr>
            <tr>
                <td>58</td>
                <td>pretium</td>
                <td>Duis</td>
                <td>64773</td>
            </tr>
            <tr>
                <td>59</td>
                <td>sapien,</td>
                <td>nulla</td>
                <td>72689</td>
            </tr>
            <tr>
                <td>60</td>
                <td>ut,</td>
                <td>Aenean</td>
                <td>02893</td>
            </tr>
            <tr>
                <td>61</td>
                <td>sed</td>
                <td>Sed</td>
                <td>74889</td>
            </tr>
            <tr>
                <td>62</td>
                <td>pede,</td>
                <td>velit</td>
                <td>32057</td>
            </tr>
            <tr>
                <td>63</td>
                <td>vehicula</td>
                <td>Nunc</td>
                <td>52483</td>
            </tr>
            <tr>
                <td>64</td>
                <td>conubia</td>
                <td>Mauris</td>
                <td>23386</td>
            </tr>
            <tr>
                <td>65</td>
                <td>fames</td>
                <td>ultrices,</td>
                <td>11143</td>
            </tr>
            <tr>
                <td>66</td>
                <td>dis</td>
                <td>Mauris</td>
                <td>43910</td>
            </tr>
            <tr>
                <td>67</td>
                <td>enim</td>
                <td>quam</td>
                <td>83822</td>
            </tr>
            <tr>
                <td>68</td>
                <td>nisl.</td>
                <td>purus.</td>
                <td>82920</td>
            </tr>
            <tr>
                <td>69</td>
                <td>mauris.</td>
                <td>ipsum</td>
                <td>34065</td>
            </tr>
            <tr>
                <td>70</td>
                <td>leo,</td>
                <td>dictum.</td>
                <td>28305</td>
            </tr>
            <tr>
                <td>71</td>
                <td>Mauris</td>
                <td>nec</td>
                <td>44743</td>
            </tr>
            <tr>
                <td>72</td>
                <td>non</td>
                <td>varius</td>
                <td>21027</td>
            </tr>
            <tr>
                <td>73</td>
                <td>arcu.</td>
                <td>felis.</td>
                <td>81316</td>
            </tr>
            <tr>
                <td>74</td>
                <td>Phasellus</td>
                <td>mauris,</td>
                <td>97217</td>
            </tr>
            <tr>
                <td>75</td>
                <td>eros.</td>
                <td>turpis</td>
                <td>59059</td>
            </tr>
            <tr>
                <td>76</td>
                <td>mauris</td>
                <td>dignissim</td>
                <td>09503</td>
            </tr>
            <tr>
                <td>77</td>
                <td>ultrices</td>
                <td>vel</td>
                <td>69439</td>
            </tr>
            <tr>
                <td>78</td>
                <td>non</td>
                <td>molestie</td>
                <td>49178</td>
            </tr>
            <tr>
                <td>79</td>
                <td>turpis</td>
                <td>nec,</td>
                <td>95274</td>
            </tr>
            <tr>
                <td>80</td>
                <td>eu</td>
                <td>mollis</td>
                <td>07407</td>
            </tr>
            <tr>
                <td>81</td>
                <td>rutrum,</td>
                <td>ultrices.</td>
                <td>03916</td>
            </tr>
            <tr>
                <td>82</td>
                <td>vitae,</td>
                <td>imperdiet</td>
                <td>64342</td>
            </tr>
            <tr>
                <td>83</td>
                <td>hendrerit.</td>
                <td>sit</td>
                <td>38424</td>
            </tr>
            <tr>
                <td>84</td>
                <td>amet</td>
                <td>non,</td>
                <td>86160</td>
            </tr>
            <tr>
                <td>85</td>
                <td>Aliquam</td>
                <td>venenatis</td>
                <td>94886</td>
            </tr>
            <tr>
                <td>86</td>
                <td>malesuada</td>
                <td>egestas.</td>
                <td>88782</td>
            </tr>
            <tr>
                <td>87</td>
                <td>ridiculus</td>
                <td>sit</td>
                <td>79091</td>
            </tr>
            <tr>
                <td>88</td>
                <td>tincidunt,</td>
                <td>non</td>
                <td>94764</td>
            </tr>
            <tr>
                <td>89</td>
                <td>nec</td>
                <td>et</td>
                <td>05319</td>
            </tr>
            <tr>
                <td>90</td>
                <td>amet</td>
                <td>nec</td>
                <td>91108</td>
            </tr>
            <tr>
                <td>91</td>
                <td>ac</td>
                <td>sem</td>
                <td>11875</td>
            </tr>
            <tr>
                <td>92</td>
                <td>Duis</td>
                <td>Maecenas</td>
                <td>20970</td>
            </tr>
            <tr>
                <td>93</td>
                <td>luctus</td>
                <td>rutrum</td>
                <td>06466</td>
            </tr>
            <tr>
                <td>94</td>
                <td>diam</td>
                <td>Nunc</td>
                <td>38450</td>
            </tr>
            <tr>
                <td>95</td>
                <td>vitae</td>
                <td>ligula.</td>
                <td>62906</td>
            </tr>
            <tr>
                <td>96</td>
                <td>adipiscing</td>
                <td>Aliquam</td>
                <td>04076</td>
            </tr>
            <tr>
                <td>97</td>
                <td>ante</td>
                <td>hendrerit</td>
                <td>76349</td>
            </tr>
            <tr>
                <td>98</td>
                <td>Donec</td>
                <td>non</td>
                <td>10510</td>
            </tr>
            <tr>
                <td>99</td>
                <td>amet</td>
                <td>luctus</td>
                <td>20373</td>
            </tr>
            <tr>
                <td>100</td>
                <td>faucibus</td>
                <td>egestas.</td>
                <td>49238</td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>